
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#hr-sty{
    height:5px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    border-radius: 2px;
}
.h-color{
     color: #a517ba;
}

/* rough section */


/* navbar  */

#nav-bar {
    position:sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba, #5e1782c7);
    padding: 0 !important;

}

.navbar ul li{
    padding: 0 10px;
    
}

.navbar ul li a{

    color:#fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
} 
.navbar-toggler{
    outline: none !important;
}


/* banner section */

#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color:#fff;
    padding-top:5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin:20px;
}

#banner a{
    text-decoration: none;
    color: #fff;
}

.bottom-img{
    width: 100%;
}

/* services sction */

#services{
    padding: 80px 0;
}

.services-img{
    width:100px;
    margin-top: 20px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
#btn-sty{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

/* amimation */
.threed-rotation{
    animation-name:rotate;
    animation-duration:10s;
    animation-delay:0s;
}

@keyframes rotate{
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  { transform: rotate(180deg);}
    75%  { transform: rotate(280deg);}
    100% { transform: rotate(360deg);}
}
/* about us section */

#about{
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-title{
    font-size:40px;
    font-weight:500;
    margin-top:8%;
    margin-left: 10px;
}


.about-us ul li{
    margin: 10px 0;
}

/*  testimonials*/

#testimonials{
    margin: 100px 0;
}

.testimonials{
    border-left: 4px solid #7b1789;
    margin-bottom:50px;
    margin-top: 50px;
}
#testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0px 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}


/* socail-medai section */

#socaul-medai{
    background:#f8f9fa;
    padding: 100px 0;
}

.socail-icon img{
    width: 80px;
    transition: 0.5s;
} 

.socail-icon  a:hover img{
    transform: translateY(-10px);
}

/* footer setion */

#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}
.footer-box img{
    width:120px;
    margin-bottom:20px;
}

.footer-box .fa{
margin-right: 8px;
font-size: 25px;
height: 40px;
width: 40px;
text-align: center;
padding-top: 7px;
border-radius: 2px;
background-image: linear-gradient(to right, #a517ba, #5f1782);

}

.footer-box .from-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}


.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

hr{
    background-color: #fff;
}

.copy-right{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
.btn{
    margin-top: -20px;
}